<app-menu (filtroEvent) = filtrar($event)></app-menu>
<div class="card">
    <p-dataView #dv [value]="produtos" [paginator]="true" [rows]="9" filterBy="nome,categoria.nome,tipo_produto.nome" 
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid" emptyMessage = "Não Foram Encontrados Produtos">
        <ng-template pTemplate="header">
            <div class="horizontalmenu">
                <div class="p-grid">
                    <div class="p-col-4">
                        <p-dropdown [options]="sortOptions" [style]="{'width': '100%'}" [(ngModel)]="sortKey" placeholder="Filtrar Por Preço" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                    </div>
                    <div class="p-col-7">
                        <span class="p-input-icon-left" [style]="{'width': '100%'}">
                            <i class="pi pi-search"></i>
                            <input id="filter" type="search" pInputText [style]="{'width': '100%'}" placeholder="Buscar Por Nome" [(ngModel)]="texto_filtro" (input)="dv.filter(texto_filtro)">
                            <!--<input type="search" pInputText placeholder="Buscar Por Nome" (input)="dv.filter($event.target.value)">-->
                        </span>
                    </div>
                    <div class="p-col">
                        <div style="float: right;">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </div>
            </div>
            <div class="verticalmenu">
                <div class="p-grid">
                    <div class="p-col-12">
                        <p-dropdown [options]="sortOptions" [style]="{'width': '100%'}" [(ngModel)]="sortKey" placeholder="Filtrar Por Preço" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                    </div>
                    <div class="p-col-12">
                        <span class="p-input-icon-left" [style]="{'width': '100%'}">
                            <i class="pi pi-search"></i>
                            <input id="filter" type="search" pInputText [style]="{'width': '100%'}" placeholder="Buscar Por Nome" [(ngModel)]="texto_filtro" (input)="dv.filter(texto_filtro)">
                            <!--<input type="search" pInputText placeholder="Buscar Por Nome" (input)="dv.filter($event.target.value)">-->
                        </span>
                    </div>
                    <div class="p-col">
                        <div style="float: right;">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <img [src]="product.imagem" [alt]="product.name"/>
                    <div class="product-list-detail">
                        <div class="product-name">{{product.nome}}</div>
                        <div class="product-description">{{product.tipo_produto.nome}}</div>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.categoria.nome}}</span>
                    </div>
                    <div class="product-list-action">
                        <!--<span class="product-price">R$ {{product.preco}}</span>-->
                        <div class="price">R$ {{product.preco}}</div>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="produtoService.getStatusProduto(product) === 'SEMESTOQUE'"></p-button>
                        <!--<span [class]="'product-badge status-' + produtoService.getStatusProduto(product).toLowerCase()">{{produtoService.getStatusProduto(product)}}</span>-->
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.categoria.nome}}</span>
                        </div>
                        <!--<span [class]="'product-badge status-' + produtoService.getStatusProduto(product).toLowerCase()">{{produtoService.getStatusProduto(product)}}</span>-->
                        <div class="status-{{produtoService.getStatusProduto(product).toLowerCase()}}">{{produtoService.getStatusProduto(product)}}</div>
                    </div>
                    <div class="product-grid-item-content">
                        <img [src]="product.imagem" [alt]="product.name"/>
                        <div class="product-name">{{product.nome}}</div>
                        <div class="product-description">{{product.tipo_produto.nome}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="price">R$ {{product.preco}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="produtoService.getStatusProduto(product).toLowerCase() === 'SEMESTOQUE'" (click)="clienteService.adicionarProdutoAoCarrinho(product)"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<app-rodape></app-rodape>