<p-card [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin': '0 auto'}">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://firebasestorage.googleapis.com/v0/b/lord-store.appspot.com/o/LordStoreLogoWithoutBackground.png?alt=media&token=39c91c5d-245d-4abe-9e6a-33e0967962ea">
    </ng-template>
    <h2>
        <b>
            Cadastro
        </b>
    </h2>
    <div class="p-grid">
        <div class="p-col">
            <span class="p-float-label">
                <input id="nome-input" [(ngModel)]="nome" type="text" pInputText [style]="{'width': '100%'}"> 
                <label for="nome-input">Nome</label>
            </span>
        </div>
        <div class="p-col-12">
            <span class="p-float-label">
                <input id="email-input" type="text" pInputText [style]="{'width': '100%'}" [(ngModel)]="email"> 
                <label for="email-input">Email</label>
            </span>
        </div>
        <div class="p-col">
            <span class="p-float-label">
                <input type="password" pPassword [(ngModel)]="senha" [style]="{'width': '100%'}" promptLabel="Digite sua Senha" weakLabel="Senha Fraca" mediumLabel="Senha Média" strongLabel="Senha Forte" ngDefaultControl/>
                <label for="senha-input">Senha</label>
            </span>
        </div>
        <div class="p-col">
            <span class="p-float-label">
                <input type="password" pPassword [(ngModel)]="confirmar_senha" [style]="{'width': '100%'}" [feedback]=false ngDefaultControl/>
                <label for="confirmar-senha-input">Confirmar Senha</label>
            </span>
        </div>
        <div class="p-col-12">
            <p-button label="Cadastrar" [style]="{'width': '100%'}" (click)="cadastrar()"></p-button>
        </div>
        <div class="p-col-12">
            <button pButton type="button" icon="pi pi-google" class="p-button-outlined" label="Continuar Com Google" [style]="{'width': '100%'}" (click)="authService.GoogleAuth()"></button>
        </div>
        <div class="p-col-12">
            <button pButton type="button" class="p-button-secondary" label="Voltar" [style]="{'width': '100%'}" (click)="irParaLogin()"></button>
        </div>
    </div>
</p-card>