<app-menu></app-menu>
<p-confirmDialog header="Cancelar Pedido" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="top-left"></p-toast>
<p-table [value]="pedidos" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th >Detalhes do Pedido</th>
            <th >Situação</th>
            <th pSortableColumn="data">Data <p-sortIcon field="data"></p-sortIcon></th>
            <th>Metodo Pagamento</th>
            <th pSortableColumn="preco">Preço Total <p-sortIcon field="preco"></p-sortIcon></th>
            <th> Ações </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="pedido" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>Clique Para Detalhes</td>
            <td><div class="status-{{pedidoService.getSituacaoPedido(pedido).toLowerCase()}}">{{pedido.situacao}}</div></td>
            <td>{{pedido.data.toDate() | date:'dd/MM/yyyy h:mm:ss a'}}</td>
            <td>{{pedido.metodo_pagamento}}</td>
            <td *ngIf="pedido.cupom && pedido.cupom.tipo_desconto == 'porcentagem'">{{pedido.preco_total - (pedido.preco_total * (pedido.cupom.desconto/100)) | currency:'BRL'}}(-{{pedido.cupom.desconto}}%)</td>
            <td *ngIf="pedido.cupom && pedido.cupom.tipo_desconto == 'reais'">{{pedido.preco_total - pedido.cupom.desconto | currency:'BRL'}}(-R${{pedido.cupom.desconto}})</td>
            <td *ngIf="!pedido.cupom">{{pedido.preco_total | currency:'BRL'}}</td>
            <td>
                <div class="p-grid">
                    <div class="p-col">
                        <button disabled="true" pButton label="Chat" icon="fa fa-inbox"></button>
                    </div>
                    <div class="p-col">
                        <button pButton class="p-button-danger" (click)="confirmarCancelamentoPedido(pedido)" icon="pi pi-times"></button>
                    </div>
                </div>
            </td>
            <!--<td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>-->
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-pedido>
        <tr>
            <td colspan="7">
                <div class="p-p-3">
                    <p-table [value]="pedido.produtos" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                                <th >Imagem </th>
                                <th pSortableColumn="quantidade_comprar">Quantidade <p-sortIcon field="quantidade"></p-sortIcon></th>
                                <th pSortableColumn="preco">Preço <p-sortIcon field="preco"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-produto>
                            <tr>
                                <td>{{produto.nome}}</td>
                                <td><img [alt]="produto.nome" src="{{produto.imagem}}" width="64" style="vertical-align: middle" /></td>
                                <td>{{produto.quantidade_comprar}}</td>
                                <td>{{produto.preco | currency:'BRL'}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">Não há Produtos neste Pedido.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-rodape></app-rodape>